html {
    background-color: #ade3e3;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: aqua;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge gold;
}

#primary {
    color: blue;
}

#secondary {
    color: brown;
}